//- In honor of loved hyperscript daddy of React and Friends
//- https://github.com/hyperhype/hyperscript
mixin h(htmlElement, module)
  #{htmlElement}(css-module=module)&attributes(attributes)
    if block
      block

mixin svg(filename, ...attributes)
  !=icon(filename, ...attributes)

mixin img(name, module, alt)
  img(src=`assets/images/${name}` css-module=module alt= alt ? alt : 'An image')

mixin link(url)
  a(href=url)= url
